<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Kätkentävisa</title>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"/></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"/></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/pizzicato/0.6.1/Pizzicato.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js"></script>
		<link rel="stylesheet" type="text/css" href="styles/geocache.css"/>
		<link rel="stylesheet" type="text/css" href="styles/geocache-desktop.css"/>
		<script src="src/geocache.js"/></script>
		<script src="src/hotjar.js"></script>
	</head>
	<body>
		<div ng-app="geocache-quiz" class="row content">
			<div class="col-xs-1 col-sm-1 col-md-2 col-lg-3"></div>
			<div class="col-xs-10 col-sm-10 col-md-8 col-lg-6" ng-controller="QuestionsController">
				<div class="content__header panel panel-default content__bad-browser" ng-show="isInternetExplorer()">
					Jos näet tämän viestin, kätkövisa ei todennäköisesti toimi selaimessasi oikein.<br>
					Kokeile toista selainta.
				</div>
				<div class="content__header panel panel-default" ng-hide="wrongAnswer || allAnswersCorrect">
					<div class="panel-heading">
						<div class="content__header-details">{{currentQuestion.id}} / {{questions.length}}</div>
						<div class="content__header-introduction">{{currentQuestion.introduction}}</div>
						<div class="content__header-question">{{currentQuestion.question}}</div>
					</div>
					<div class="list-group" ng-repeat="option in currentQuestion.options"">
						<label>
							<input type="radio" name="answer-option" ng-click="updateAnswer(option)"> {{option}}
						</label>
					</div>
					<button type="button" class="btn" ng-disabled="!hasAnswer()" ng-click="checkAnswer()">Vastaa</button>
				</div>
				<div class="content__header panel panel-default" ng-show="wrongAnswer">
					<div class="panel-heading">
						<div class="content__header-wrong-answer">Ei nyt sinne päinkään!</div>
					</div>
					<button type="button" class="btn" ng-click="startQuiz()">Takaisin alkuun</button>
				</div>
				<div class="content__header panel panel-default" ng-show="allAnswersCorrect">
					<div class="panel-heading">
						<div class="content__header-coordinates-text">Koordinaatit:</div>
					</div>
					<div class="content__header-coordinates">
						<a href="http://maps.google.com/maps?q={{latitude}},{{longitude}}">
							{{latitude}} {{longitude}}
						</a>
					</div>
				</div>
			</div>	
			<div class="col-xs-1 col-sm-1 col-md-2 col-lg-3"></div>
		</div>
	</body>
</html>