.content {
	margin-top: 20px;
}

.panel-heading {
	background: linear-gradient(#EAFEEA, #C1F7B2 15%);
	background-color: #C1F7B2 !important;
}

.content__header-introduction, .content__header-coordinates-text {
	display: inline;
	font-weight: bold;
}

.content__header-coordinates {
	font-weight: normal;
}

.content__header-question, .content__header-wrong-answer {
	font-weight: bold;
}

.content__header-coordinates {
	margin: 15px 15px;
}

label {
	font-weight: normal;
}

.list-group:nth-of-type(2) {
	margin-top: 5px;
}

.list-group {
	margin: 0px 15px;
}

.btn:disabled {
	background: linear-gradient(#EDEDED, #D9D9D9);
}

.btn {
	margin: 10px 15px !important;
	border-color: #dddddd !important;
	background: linear-gradient(#EAFEEA, #C1F7B2 15%);
}

.content__bad-browser {
	font-size: 16px;
	padding: 15px;

	animation-name: flash-message;
	animation-delay: 1s;
	animation-duration: 2s;
}

@keyframes flash-message {
    0% { background-color: transparent; }
    50% { background-color: red; }
    100% { background-color: transparent; }
}